In [3]:
'''

from google.colab import drive
drive.mount('/content/gdrive')

!ls -l "/content/gdrive/My Drive/Colab Notebooks/Interviews/"

import os
# Root directory of the project
ROOT_DIR = os.path.abspath("/content/gdrive/My Drive/Colab Notebooks/Interviews/")
os.chdir(ROOT_DIR)
pd.options.mode.chained_assignment = None

'''

'\n\nfrom google.colab import drive\ndrive.mount(\'/content/gdrive\')\n\n!ls -l "/content/gdrive/My Drive/Colab Notebooks/Interviews/"\n\nimport os\n# Root directory of the project\nROOT_DIR = os.path.abspath("/content/gdrive/My Drive/Colab Notebooks/Interviews/")\nos.chdir(ROOT_DIR)\npd.options.mode.chained_assignment = None\n\n'

In [24]:
!pip install unidecode
!pip install iso3166

Requirement already satisfied: unidecode in /home/saeed/anaconda3/lib/python3.6/site-packages (1.1.1)
Requirement already satisfied: iso3166 in /home/saeed/anaconda3/lib/python3.6/site-packages (1.0)

In [4]:
import json
import pandas as pd
import numpy as np 
from pandas.io.json import json_normalize
import unidecode
from iso3166 import countries

# my own use for dibugging, to force reload the costum module. 
import importlib
import missing_country 
importlib.reload(missing_country)
from missing_country import * 

pd.options.mode.chained_assignment = None

In [17]:
json_file = "city_search.json"
world_cities_csv = "world-cities1.csv"

In [5]:
# reading the JSON data using json.load()

dframe = load_data_as_df(json_file)

In [ ]:
# Clean up data to remove lists in the columns
preprocess_data(dframe)

In [7]:
# find list of users' countries
countriesSet = find_user_countries_set(dframe)
print(countriesSet)

{'', 'ES', 'US', 'FR', 'DE', 'IT', 'UK'}

In [8]:
# split list of cities searched by users (with missed country), if country of user is known, replace it with None
citiesSeries = get_cities_users_unknown(dframe)

In [9]:
dfcities = get_counts_of_cities_searched(citiesSeries)
dfcities.head()

             city  count
0     New York NY    754
1      Toronto ON    457
2  Los Angeles CA    344
3     Montreal QC    334
4      Chicago IL    285

In [10]:
# dataframe read from the csv file; Cities & Countries
citiesCountriesDF = get_country_of_cities(world_cities_csv)

In [ ]:
country_to_freq_of_cities(dfcities, citiesCountriesDF)

In [12]:
#create a column for countries of 2-letter abbreviations
dfcities["cn"] = dfcities["country"].apply(countryToAbr)

In [13]:
# count countries 
countrySearchedCounts = dfcities["cn"].apply(pd.Series).stack().value_counts()

In [14]:
# Generate the probability
missingCountriesdf = calculate_probabilities_for_missing_county(dfcities, countriesSet)

In [15]:
missingCountriesdf

   cn             country  count  probability
4  CA              Canada   1367     0.652506
5  CL               Chile    435     0.207637
7  CR          Costa Rica    158     0.075418
1  AR           Argentina     43     0.020525
8  PE                Peru     41     0.019570
2  BM             Bermuda     20     0.009547
3  BR              Brazil     18     0.008592
9  RU  Russian Federation     10     0.004773
6  CO            Colombia      3     0.001432

In [18]:
missining_country_rates(json_file, world_cities_csv)

   cn             country  count  probability
4  CA              Canada   1367     0.652506
5  CL               Chile    435     0.207637
7  CR          Costa Rica    158     0.075418
1  AR           Argentina     43     0.020525
8  PE                Peru     41     0.019570
2  BM             Bermuda     20     0.009547
3  BR              Brazil     18     0.008592
9  RU  Russian Federation     10     0.004773
6  CO            Colombia      3     0.001432